*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    font-family: var(--font-roboto);
    background: var(--bg);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}


:root{
    --font-roboto: "Roboto", sans-serif;
    --font-source-sans-3: "Source Sans 3", sans-serif;

    --color-accent: #FCCD20;

    --logo-width: 164px;
    --color-green: #00A63E;
    --color-orange: #D4920A;

    /* light theme */

    --bg: #FAF9F5;
    --primary-color:#161616;
    --text-80: #161616CC;


    --item-primary-bg: #FFFFFF;
    --item-secondary-bg: #FAFAFA;


    --tag: #FAEEDA;
    --link: #2F00FF;
    --card-bg: #F9F7F2;
    --form-bg: #FAEEDA;
    --line: #16161633;

    --card-border: 1px solid #16161633; 
    --accordion-border: 1px solid #161616CC;
    --buttons-border: 1px solid #161616CC;
    --step-border: 1px solid #16161666; 
    --form-border: 1px solid #1616161F;
    --input-border: 1px solid #16161666;

    --shadow: 1px 12px 12px 0px #16161633;

    /* range */
    --circle: #FFFFFF;
    --track: #1616163D;
    --track-border: 1px solid #16161652;


    /* buttons */
    --color-pressed: #FFFF00;
    --color-disabled: #E5E5E5;
    /* --color-ghost:#F7FF0014; */
}


body.dark{
    --bg: #161616;
    --primary-color:#F9F7F2;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.caption-h1{
    color: var(--primary-color);
    /* font-family: var(--font-roboto); */
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}

.mini-header{
    color: var(--color-accent);
    font-family: var(--font-source-sans-3);
    font-size: 18px;
    letter-spacing: 2%;
    margin-bottom: 24px;
}

.caption-h2{
   font-weight: 700;
   font-size: 48px;
   color: var(--primary-color);
   text-transform: capitalize;
}

.subtitle{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    margin-top: 12px;    
    color: var(--primary-color);
}

.section__header{
    text-align: center;
}

.primary-btn, .secondary-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 24px;
    /* padding: 18px 24px; */
    width: 241px;
    height: 56px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}

.primary-btn{
    background: var(--color-accent);
    border: none;

}

.secondary-btn{
    border: 1px solid var(--primary-color);
    background: transparent;
}

.primary-btn svg{
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
}

.secondary-btn svg{
    width: 17px;
    height: 20px;
    fill: var(--primary-color);
}

/* --- MAIN STYLES END --- */


/* --- HEADER --- */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo{
    width: var(--logo-width);
}

.header__list-menu{
    display: flex;
    gap: 40px; 
}

.list-menu-link{
    font-family: var(--font-source-sans-3);
    color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;
}

.header__buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.theme-toggle{
    border: none;
    color: transparent;
    background: none;
    cursor: pointer;
}
.theme-toggle svg{
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
}

/* --- HEADER END --- */


/* --- HERO --- */
.hero{
    padding-top: 100px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
}

.accent-title{
    font-size: 72px;
    line-height: 1.1;
}

.accent{
    color: var(--color-accent);
}

.hero__text{
    max-width: 387px;
    color: var(--text-80);
    font-family: var(--font-source-sans-3);
    line-height: 1.6;
    margin: 24px 0;
}

.hero__text span{
    font-weight: 700;
    color: var(--primary-color);
}

.hero__buttons{
    display: flex;
    gap: 12px;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__image{
    width: 600px;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.hero__image::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: radial-gradient(
        circle,
        rgba(252, 205, 3, 1) 0%,
        rgba(247, 255, 0, 1) 100%,
        transparent 12%
    );
    filter: blur(200px);
    z-index: -1;
}

.hero__list-features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.hero__list-features svg{
    width: 32px;
    height: 32px;
    fill: var(--text-80);
}

.list-features-item{
    /* font-family: var(--font-roboto); */
    font-weight: 600;
    font-size: 24px;
    color: var(--text-80);
    display: flex;
    gap: 12px;
    align-items: center;
}

/* --- HERO END --- */


/* --- CALCULATOR SECTION --- */

.calculator{
    padding-top: 240px;
    padding-bottom: 120px;
}



/* --- CALCULATOR BODY --- */

.calculator-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

/* --- CARD --- */

.primary-card, .secondary-card{
    border-radius: 12px;
    padding: 24px;
}

.primary-card {
    background: var(--item-primary-bg);
}

.secondary-card {
    border: var(--card-border);
    background: var(--item-secondary-bg);
}

/* --- LEFT PANEL --- */

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px;
    height: fit-content;
}

/* --- FIELD --- */

.field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field label {
    /* font-family: var(--font-roboto); */
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

.field-top div {
    font-weight: 700;
    font-size: 32px;
    /* font-family: var(--font-roboto); */
}

/* --- RANGE --- */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    /* background: #1616163D; */
    background: transparent;
    border-radius: 20px;
    outline: none;
    border: var(--track-border); 
}

/* полоса (webkit) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: linear-gradient(
        to right,
        var(--color-accent) 0%,
        var(--color-accent) var(--progress, 0%),
        var(--track) var(--progress, 0%),
        var(--track) 100%
    );
    border-radius: 20px;
    border: none;
}

/* кружок */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    background: var(--item-primary-bg);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 0 1px rgba(252, 205, 32, 0.2),
                0 0 6px rgba(252, 205, 32, 0.6);
}


/* firefox */
/* input[type="range"]::-moz-range-track {
    background: #ddd;
    height: 6px;
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--color-accent);
    border-radius: 50%;
    border: none;
} */

/* --- PRESETS --- */

.presets {
    display: flex;
    gap: 8px;
    margin-top: 6px;
}

.presets button {
    border: var(--buttons-border);
    background: transparent;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-80);
    font-family: var(--font-source-sans-3);

}

.presets button.active {
    color: var(--primary-color);
    font-weight: 600;
}

/* --- RANGE LABELS --- */

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

/* --- BUTTON --- */

.full {
    width: 100%;
    margin-top: 10px;
}

/* --- RIGHT PANEL --- */

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* --- BIG RESULT --- */
.result-big p{
    /* font-family: var(--font-roboto); */
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #161616CC;
}

.result-big h3 {
    /* font-family: var(--font-roboto); */
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-top: 12px;
    color: var(--primary-color);
}

.result-big small {
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    margin-top: 12px;
    display: block;
    line-height: 1.6;
    margin-top: 18px;
    color: var(--primary-color);
}

/* --- GRID --- */

.result-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.result-grid .secondary-card {
    padding: 24px;
}

.result-grid .secondary-card p{
    font-size: 18px;
    color: var(--text-80);
    margin-bottom: 10px;
}

.result-grid .secondary-card span{
    font-family: var(--font-source-sans-3);
    font-weight: 700;
    font-size: 32px;
}


/* --- COLORS --- */
.green {
    color: var(--color-green);
    font-weight: 600;
}

.orange {
    color: var(--color-orange);
    font-weight: 600;
}

/* --- COST BREAKDOWN --- */

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--font-source-sans-3);
}

.bold {
    font-weight: 700;
    /* margin-top: 12px; */
}

.row.bold > span{
    margin-top: 24px;
    margin-bottom: 24px;
}

.right-bottom-card>p{
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 24px;    
}

.line{
    width: 100%;
    height: 1px;
    background: var(--line);
    margin-top: 18px;
}

.title-monthly-payment{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    color: var(--primary-color);  
}

.monthly{
    font-family: var(--font-source-sans-3);
    font-weight: 700;
    font-size: 32px; 
    color: var(--primary-color);   
    margin-top: 12px;
    margin-bottom: 12px;
}

.sub-small{
    color: var(--text-80);
    font-family: var(--font-source-sans-3);
    font-size: 14px;
}

.disclaimer{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    color: var(--primary-color);
    margin-top: 60px;

}

/* --- RESPONSIVE --- */

@media (max-width: 992px) {
    .calculator-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .caption-h2 {
        font-size: 32px;
    }

    .result-grid {
        grid-template-columns: 1fr;
    }

    .result-big h3 {
        font-size: 28px;
    }
}

/* --- CALCULATOR SECTION END --- */





/* --- WHY GO SOLAR SECTION --- */

.why-go-solar{
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-go-solar__list{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.why-go-solar__list-item{
    background: var(--item-secondary-bg);
    border-radius: 16px;
    padding: 40px 32px;
    border: var(--card-border);
    max-width: 387px;
    min-width: 290px;
}

@media (max-width: 900px) {
    .why-go-solar__list {
        grid-template-columns: 1fr;
    }
    .why-go-solar__list-item{
        max-width: 100%;  
    }

}

.saving-card__line {
    width: 64px;
    height: 2px;
    background: var(--color-accent);
    border-radius: 2px;
    margin-bottom: 24px;
}

.saving-card__value {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
    color:  var(--primary-color);
}

.saving-card__value span {
    color: var(--color-accent);
}

.saving-card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--primary-color);
}

.saving-card__text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
    margin-bottom: 24px;
    max-width: 264px;
}


.saving-card__tag {
    display: inline-block;
    background: var(--tag);
    padding: 4px 18px;
    border-radius: 24px;
    font-size: 14px;
    font-family: var(--font-source-sans-3);
    font-weight: 600;
    color: var(--primary-color);
}

/* --- WHY GO SOLAR SECTION END --- */



/* --- SOLAR CHECKLIST SECTION --- */
.solar-checklist{
    padding: 120px 0;
}

