*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    font-family: var(--font-roboto);
    background: var(--bg);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}


:root{
    --font-roboto: "Roboto", sans-serif;
    --font-source-sans-3: "Source Sans 3", sans-serif;

    --color-accent: #FCCD20;

    --logo-width: 164px;
    --color-green: #00A63E;
    --color-orange: #D4920A;

    /* light theme */

    --bg: #FAF9F5;
    --primary-color:#161616;
    --text-80: #161616CC;


    --item-primary-bg: #FFFFFF;
    --item-secondary-bg: #FAFAFA;


    --tag: #FAEEDA;
    --link: #2F00FF;
    --card-bg: #F9F7F2;
    --form-bg: #F9F7F2;
    --line: #16161633;
    --house-img-tag-bg: #FAEEDA;

    --card-border: 1px solid #16161633; 
    --accordion-border: 1px solid #161616CC;
    --accordion-button-border: 1px solid #16161633;
    --buttons-border: 1px solid #161616CC;
    --step-border: 1px solid #16161666; 
    --form-border: 1px solid #1616161F;
    --input-border: 1px solid #16161666;

    --shadow: 1px 12px 12px 0px #16161633;

    /* range */
    --circle: #FFFFFF;
    --track: #1616163D;
    --track-border: 1px solid #16161652;


    /* buttons */
    --color-pressed: #FFFF00;
    --color-disabled: #E5E5E5;
    /* --color-ghost:#F7FF0014; */
}


body.dark{
    --bg: #161616;
    --primary-color:#F9F7F2;

}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.caption-h1{
    color: var(--primary-color);
    /* font-family: var(--font-roboto); */
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
}

.mini-header{
    color: var(--color-accent);
    font-family: var(--font-source-sans-3);
    font-size: 18px;
    letter-spacing: 2%;
    margin-bottom: 24px;
}

.caption-h2{
   font-weight: 700;
   font-size: 48px;
   color: var(--primary-color);
   text-transform: capitalize;
}

.subtitle{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    margin-top: 12px;    
    color: var(--primary-color);
}

.section__header{
    text-align: center;
}

.primary-btn, .secondary-btn{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 24px;
    /* padding: 18px 24px; */
    width: 241px;
    height: 56px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;
}

.primary-btn{
    background: var(--color-accent);
    border: none;

}

.secondary-btn{
    border: 1px solid var(--primary-color);
    background: transparent;
}

.primary-btn svg{
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
}

.secondary-btn svg{
    width: 17px;
    height: 20px;
    fill: var(--primary-color);
}

/* --- MAIN STYLES END --- */


/* --- HEADER --- */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__logo{
    width: var(--logo-width);
}

.header__list-menu{
    display: flex;
    gap: 40px; 
}

.list-menu-link{
    font-family: var(--font-source-sans-3);
    color: var(--primary-color);
    font-size: 18px;
    cursor: pointer;
}

.header__buttons{
    display: flex;
    align-items: center;
    gap: 12px;
}

.theme-toggle{
    border: none;
    color: transparent;
    background: none;
    cursor: pointer;
}
.theme-toggle svg{
    width: 24px;
    height: 24px;
    fill: var(--primary-color);
}

/* --- HEADER END --- */


/* --- HERO --- */
.hero{
    padding-top: 100px;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accent-title{
    font-size: 72px;
    line-height: 1.1;
}

.accent{
    color: var(--color-accent);
}

.hero__text{
    max-width: 387px;
    color: var(--text-80);
    font-family: var(--font-source-sans-3);
    line-height: 1.6;
    margin: 24px 0;
}

.hero__text span{
    font-weight: 700;
    color: var(--primary-color);
}

.hero__buttons{
    display: flex;
    gap: 12px;
}

.left-side {
    max-width: 488px;
}

.right-side{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__image{
    width: 600px;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.hero__image::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: radial-gradient(
        circle,
        rgba(252, 205, 3, 1) 0%,
        rgba(247, 255, 0, 1) 100%,
        transparent 12%
    );
    filter: blur(200px);
    z-index: -1;
}

.hero__list-features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.hero__list-features svg{
    width: 32px;
    height: 32px;
    fill: var(--text-80);
}

.list-features-item{
    /* font-family: var(--font-roboto); */
    font-weight: 600;
    font-size: 24px;
    color: var(--text-80);
    display: flex;
    gap: 12px;
    align-items: center;
}


@media (max-width: 900px) {
    .hero-container {
        flex-direction: column;
        gap: 40px;
    }

    .right-side {
        order: 2;
    }

    .left-side {
        order: 1;
    }

    .hero__image {
        width: 100%;
        max-width: 500px;
    }
}



@media (max-width: 600px) {
    .accent-title {
        font-size: 40px;
    }

    .hero__buttons {
        flex-direction: column;
        align-items: stretch;
    }

    .hero__list-features {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .list-features-item {
        font-size: 18px;
    }
}





/* --- HERO END --- */


/* --- CALCULATOR SECTION --- */

.calculator{
    padding-top: 240px;
    padding-bottom: 120px;
}



/* --- CALCULATOR BODY --- */

.calculator-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
}

/* --- CARD --- */

.primary-card, .secondary-card{
    border-radius: 12px;
    padding: 24px;
}

.primary-card {
    background: var(--item-primary-bg);
}

.secondary-card {
    border: var(--card-border);
    background: var(--item-secondary-bg);
}

/* --- LEFT PANEL --- */

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 40px;
    height: fit-content;
}

/* --- FIELD --- */

.field {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.field label {
    /* font-family: var(--font-roboto); */
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
}

.field-top div {
    font-weight: 700;
    font-size: 32px;
    /* font-family: var(--font-roboto); */
}

/* --- RANGE --- */

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    /* background: #1616163D; */
    background: transparent;
    border-radius: 20px;
    outline: none;
    border: var(--track-border); 
}

/* полоса (webkit) */
input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: linear-gradient(
        to right,
        var(--color-accent) 0%,
        var(--color-accent) var(--progress, 0%),
        var(--track) var(--progress, 0%),
        var(--track) 100%
    );
    border-radius: 20px;
    border: none;
}

/* кружок */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 26px;
    height: 26px;
    background: var(--item-primary-bg);
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    border: 1px solid var(--color-accent);
    box-shadow: 0 0 0 1px rgba(252, 205, 32, 0.2),
                0 0 6px rgba(252, 205, 32, 0.6);
}


/* firefox */
/* input[type="range"]::-moz-range-track {
    background: #ddd;
    height: 6px;
}

input[type="range"]::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--color-accent);
    border-radius: 50%;
    border: none;
} */

/* --- PRESETS --- */

.presets {
    display: flex;
    gap: 8px;
    margin-top: 6px;
}

.presets button {
    border: var(--buttons-border);
    background: transparent;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    color: var(--text-80);
    font-family: var(--font-source-sans-3);

}

.presets button.active {
    color: var(--primary-color);
    font-weight: 600;
}

/* --- RANGE LABELS --- */

.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

/* --- BUTTON --- */

.full {
    width: 100%;
    margin-top: 10px;
}

/* --- RIGHT PANEL --- */

.right-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* --- BIG RESULT --- */
.result-big p{
    /* font-family: var(--font-roboto); */
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: #161616CC;
}

.result-big h3 {
    /* font-family: var(--font-roboto); */
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    margin-top: 12px;
    color: var(--primary-color);
}

.result-big small {
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    margin-top: 12px;
    display: block;
    line-height: 1.6;
    margin-top: 18px;
    color: var(--primary-color);
}

/* --- GRID --- */

.result-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.result-grid .secondary-card {
    padding: 24px;
}

.result-grid .secondary-card p{
    font-size: 18px;
    color: var(--text-80);
    margin-bottom: 10px;
}

.result-grid .secondary-card span{
    font-family: var(--font-source-sans-3);
    font-weight: 700;
    font-size: 32px;
}


/* --- COLORS --- */
.green {
    color: var(--color-green);
    font-weight: 600;
}

.orange {
    color: var(--color-orange);
    font-weight: 600;
}

/* --- COST BREAKDOWN --- */

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 20px;
    color: var(--primary-color);
    font-family: var(--font-source-sans-3);
}

.bold {
    font-weight: 700;
    /* margin-top: 12px; */
}

.row.bold > span{
    margin-top: 24px;
    margin-bottom: 24px;
}

.right-bottom-card>p{
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-color);
    margin-bottom: 24px;    
}

.line{
    width: 100%;
    height: 1px;
    background: var(--line);
    margin-top: 18px;
}

.title-monthly-payment{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    color: var(--primary-color);  
}

.monthly{
    font-family: var(--font-source-sans-3);
    font-weight: 700;
    font-size: 32px; 
    color: var(--primary-color);   
    margin-top: 12px;
    margin-bottom: 12px;
}

.sub-small{
    color: var(--text-80);
    font-family: var(--font-source-sans-3);
    font-size: 14px;
}

.disclaimer{
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    color: var(--primary-color);
    margin-top: 60px;

}

/* --- RESPONSIVE --- */

@media (max-width: 992px) {
    .calculator-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .caption-h2 {
        font-size: 32px;
    }

    .result-grid {
        grid-template-columns: 1fr;
    }

    .result-big h3 {
        font-size: 28px;
    }
}

/* --- CALCULATOR SECTION END --- */





/* --- WHY GO SOLAR SECTION --- */

.why-go-solar{
    padding-top: 120px;
    padding-bottom: 120px;
}

.why-go-solar__list{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.why-go-solar__list-item{
    background: var(--item-secondary-bg);
    border-radius: 16px;
    padding: 40px 32px;
    border: var(--card-border);
    max-width: 387px;
    min-width: 290px;
}

@media (max-width: 900px) {
    .why-go-solar__list {
        grid-template-columns: 1fr;
    }
    .why-go-solar__list-item{
        max-width: 100%;  
    }

}

.saving-card__line {
    width: 64px;
    height: 2px;
    background: var(--color-accent);
    border-radius: 2px;
    margin-bottom: 24px;
}

.saving-card__value {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
    color:  var(--primary-color);
}

.saving-card__value span {
    color: var(--color-accent);
}

.saving-card__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    color: var(--primary-color);
}

.saving-card__text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--primary-color);
    margin-bottom: 24px;
    max-width: 264px;
}


.saving-card__tag {
    display: inline-block;
    background: var(--tag);
    padding: 4px 18px;
    border-radius: 24px;
    font-size: 14px;
    font-family: var(--font-source-sans-3);
    font-weight: 600;
    color: #161616;
}

/* --- WHY GO SOLAR SECTION END --- */



/* --- SOLAR CHECKLIST SECTION --- */
.solar-checklist{
    padding-top: 120px;
    padding-bottom: 120px;
}

.solar-checklist__container {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-top: 60px;
}

.solar-checklist__image {
    position: relative;
    flex: 1;
}

/* --- ACCORDION --- */

.accordion {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accordion-item {
    /* background: var(--bg-card); */
    overflow: hidden;
}

/* HEADER */

.accordion-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    border: var(--accordion-border);
    border-radius: 24px;
}

.accordion-num {
    font-weight: 500;
    font-size: 20px;
    color: var(--text-80);
}

.accordion-title {
    flex: 1;
    text-align: left;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 24px;
}

/* КРУЖОК С + / - */

.accordion-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: var(--accordion-button-border);
    color: var(--primary-color);
    background: transparent;

    font-size: 28px;
    font-family: var(--font-source-sans-3);

    transition: all 0.3s ease;

    position: relative;
}

.accordion-item.active .accordion-icon {
    background: var(--color-accent);
    border-color: var(--color-accent);
    color: #161616;
}

.accordion-icon::before,
.accordion-icon::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 2px;
    background: currentColor;
}

.accordion-icon::after {
    transform: rotate(90deg);
}

.accordion-item.active .accordion-icon::after {
    display: none;
}


/* CONTENT */

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 20px;
}

.accordion-item.active .accordion-content {
    max-height: 300px;
    padding: 12px 4px;
}

.accordion-content p {
    font-size: 20px;
    line-height: 1.6;
    font-family: var(--font-source-sans-3);
    color: var(--text-80);

}

/* --- МЕТКИ НА ДОМЕ --- */

.marker {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--house-img-tag-bg);
    border: 5px solid var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    color:#161616;
    font-family: var(--font-source-sans-3);

}

/* позиционирование (подгоняешь под свою картинку) */

.marker--1 {
    top: 13%;
    left: 57%;
}

.marker--2 {
    top: 43%;
    left: 14%;
}

.marker--3 {
    bottom: 38%;
    right: 17%;
}

/* --- АДАПТИВ --- */

@media (max-width: 900px) {
    .solar-checklist__container {
        flex-direction: column;
    }

    .solar-checklist__image {
        order: 2;
    }
}

/* --- SOLAR CHECKLIST END --- */



/* ---HOW IT WORKS SECTION --- */
.how-it-works{
    padding-top: 120px;
    padding-bottom: 120px;
}

/* --- STEPS CONTAINER --- */

.steps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
}

/* --- STEP CARD --- */

.step {
    position: relative;
    padding: 24px;
    border-radius: 16px;
    /* background: var(--bg-card); */
    border: var(--step-border);
    transition: all 0.3s ease;
}

/* активная карточка */

.step--active {
    border: 1px solid var(--color-accent);
    opacity: 0.8;
}

/* --- NUMBER CIRCLE --- */

.step__num {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--color-accent);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* --- TITLE --- */

.step h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
    color: var(--primary-color);
}

/* --- TEXT --- */

.step p {
    font-size: 14px;
    line-height: 1.6;
    color: var(--primary-color);
}

/* --- ARROWS BETWEEN STEPS --- */

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 25px;
    right: -18px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-color: var(--text-80);
    -webkit-mask: url("../assets/images/arrow.svg") no-repeat center;
    mask: url("../assets/images/arrow.svg") no-repeat center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

/* --- BUTTON BELOW --- */

.steps + .primary-btn {
    display: block;
    margin: 24px auto 0;
}

/* --- TABLET --- */

@media (max-width: 900px) {
    .steps {
        grid-template-columns: repeat(2, 1fr);
    }

    /* убираем стрелки */
    .step:nth-child(2)::after,
    .step:nth-child(2)::before{
        display: none;
    }
}

/* --- MOBILE --- */

@media (max-width: 600px) {
    .steps {
        grid-template-columns: 1fr;
    }

    .step:nth-child(2)::after,
    .step:nth-child(2)::before{
        display: block;
    }

   .step:not(:last-child)::after {
        content: "→";
        position: absolute;
        top: auto;
        right: 96%;
        bottom: -20px; /* 👈 под карточкой */
        transform: translateX(50%) rotate(90deg);
    }
}


/* --- HOW IT WORKS SECTION END --- */


/* ---  TAX CREDIT SECTION --- */

/* --- SECTION --- */

.tax-credit {
    padding: 120px 0;
}

/* --- LAYOUT --- */

.tax-credit__container {
    display: flex;
    gap: 80px;
    align-items: center;
}

/* --- LEFT --- */

.tax-credit__left {
    flex: 1;
    text-align: center;
}

.tax-credit__percent {
    font-size: 160px;
    font-weight: 700;
    line-height: 1;
}

.tax-credit__percent span:last-child {
    color: var(--primary-color);
}

.tax-credit__percent .accent {
    color: var(--color-accent);
}

.tax-credit__note {
    margin-top: 16px;
    color: var(--primary-color);
    font-family: var(--font-source-sans-3);
    font-size: 20px;
    line-height: 1.6;
}

/* --- RIGHT --- */

.tax-credit__right {
    flex: 1;
}

.tax-credit__tag {
    display: inline-block;
    background: var(--tag);
    font-family: var(--font-source-sans-3);
    font-size: 14px;
    color: #161616;
    padding: 6px 12px;
    border-radius: 20px;
    margin-bottom: 16px;
}

/* --- LIST --- */

.tax-credit__list {
    margin: 24px 0;
    padding: 0;
    list-style: none;
}

.tax-credit__list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 16px;
    line-height: 1.6;
    color: var(--primary-color);
    font-family: var(--font-source-sans-3);
    font-size: 24px;
}

/* точка */

.tax-credit__list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;

    width: 6px;
    height: 6px;
    background: var(--color-accent);
    border-radius: 50%;
}

/* --- BUTTONS --- */

.tax-credit__buttons {
    display: flex;
    align-items: center;
    gap: 46px;
    margin-top: 24px;
}

.link-btn {
    color: var(--link);
    text-decoration: underline;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.link-btn svg{
    fill: var(--link);
    width: 22px;
    /* height: 2px; */
}

/* --- FOOTNOTE --- */

.tax-credit__footnote {
    margin-top: 16px;
    font-size: 14px;
    color: var(--text-80);
}



/* планшет */

@media (max-width: 900px) {
    .tax-credit__container {
        flex-direction: column;
        text-align: left;
        gap: 40px;
    }

    .tax-credit__left {
        display: none;
    }

    .tax-credit__footnote{
        text-align: center;
    }

    .tax-credit__tag{
        background: transparent;
        color: var(--color-accent);
        font-size: 18px;
        padding: 0;
        margin-bottom: 60px;
    }

}

/* мобилка */

@media (max-width: 600px) {

    .tax-credit__buttons {
        flex-direction: column;
        align-items: stretch;
    }
}

/* ---  TAX CREDIT SECTION END --- */







/* --- CUSTOMER EXPERIENCE SECTION --- */

.customer-experience {
    padding: 120px 0;
}
.section-header {
    position: relative;
}

.header-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-controls {
    display: flex;
    gap: 22px;
}

.arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow.prev svg,
.arrow.next svg{
    height: 32px;
    fill: var(--primary-color)
}

.arrow.prev svg{
    transform: rotate(180deg);
}

.slider {
    overflow: hidden;
    margin-top: 60px;
    position: relative;

}

.slider-track {
    display: flex;
    transition: transform 0.4s ease;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img{
    border-radius: 24px;
}

.slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 20px 30px;

    color: #FAF9F5;
    font-size: 32px;
    font-weight: 600;
    background: #16161699;
    border-radius: 0 0 24px 24px;
    backdrop-filter: blur(15px);
}


.slider-dots {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.dot {
    width: 21px;
    height: 21px;
    background: var(--primary-color);
    opacity: 0.4;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* активная */
.dot.active {
    width: 60px;
    border-radius: 10px;
    background: var(--primary-color);
    opacity: 1;
}

@media (max-width: 600px) {
    .slide-overlay {
        flex-direction: column;
        gap: 8px;
        font-size: 14px;
    }

    .slider-controls {
        position: static;
        margin-top: 16px;
    }
}


/* --- CUSTOMER EXPERIENCE SECTION END--- */


/* --- CONTACT FORM SECTION --- */

.contact-form {
    padding: 120px 0;
}

.contact-form__container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 60px;
}

/* LEFT BLOCK */

.contact-form__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 400px;
}

.contact-form__item {
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.contact-form__item .icon {
    width: 40px;
    height: 40px;
    background: var(--color-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.contact-form__item .icon svg {
    width: 16px;
    height: 16px;
}

.contact-form__item .title {
    font-weight: 500;
    font-size: 24px;
    color: var(--primary-color);
}

.contact-form__item .text {
    font-size: 20px;
    font-family: var(--font-source-sans-3);
    color: var(--primary-color);
    line-height: 1.6;
}

/* FORM */

.form {
    flex: 1;
    background: var(--form-bg);
    border-radius: 24px;
    border: var(--form-border);
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 590px;
    padding: 40px;
}

.form-row {
    display: flex;
    gap: 20px;
}

.form label {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
}

.form input,
.form select {
    width: 100%;
    height: 76px;
    border-radius: 16px;
    border: var(--form-border);
    padding: 24px;
    font-size: 20px;
    font-family: var(--font-source-sans-3);
    margin-top: 12px;
    color: var(--primary-color);
}

.form input::placeholder {
    color: var(--text-80);
}

/* SELECT */

.user-bill-select {
    position: relative;
}

.form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 24px 50px 24px 24px;
}

.user-bill-select::after {
    content: "";
    position: absolute;
    right: 20px;
    top: calc(50% + 12px);
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    background-color: var(--primary-color);

    -webkit-mask: url("../assets/images/input-arrow.svg") no-repeat center;
    mask: url("../assets/images/input-arrow.svg") no-repeat center;

    -webkit-mask-size: contain;
    mask-size: contain;

    pointer-events: none;
}

/* CHECKBOX */

.form input[type="checkbox"] {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--font-source-sans-3);
    color: var(--primary-color);
}

.checkbox__box {
    width: 16px;
    height: 16px;
    border: 1px solid var(--primary-color);
    flex-shrink: 0;
    position: relative;
}

.checkbox__box::after {
    content: "✓";
    font-size: 12px;
    position: absolute;
    top: -2px;
    left: 2px;
    transform: scale(0);
    transition: 0.2s;
}

.checkbox input:checked + .checkbox__box {
    background: var(--color-accent);
    border-color: var(--color-accent);
}

.checkbox input:checked + .checkbox__box::after {
    transform: scale(1);
}

/* BUTTON */

.primary-btn.full {
    width: 100%;
}

/* --- TABLET --- */

@media (max-width: 900px) {

    .contact-form__container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .contact-form__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 32px;

        max-width: none; /* 👈 КЛЮЧЕВОЕ */
        width: 100%;
    }

    .contact-form__item {
        width: auto;
    }

    .contact-form__item .title {
        font-size: 20px;
    }

    .contact-form__item .text {
        font-size: 16px;
    }

    .form {
        margin: 0 auto;   /* 👈 центр */
        width: 100%;      /* 👈 растягивается */
        max-width: 600px; /* 👈 как в макете */
    }
}

/* --- MOBILE --- */

@media (max-width: 600px) {

    .contact-form__list {
        grid-template-columns: 1fr;
    }

    .form-row {
        flex-direction: column;
    }

   .form {
        max-width: 100%;
        margin: 0 auto;
    }
}

/* --- CONTACT FORM SECTION END --- */